# This file gets sourced by the script
# Define your variables here

# The lock file used to ensure only one process runs at a time
LOCKFILE='/var/tmp/bslock.lock'

# The parent directory to watch
WATCHDIR="/home/ts/Desktop/Xperiments/syncing"

# The file containing the multiple destinations to sync
DESTFILE=.bs.dest
# This file itself is ignored by rsync

# The include file for rsync
INCLUDEFILE=.rsync.include

# Switch notifications on or off
NOTIFY=TRUE

# Set the timeout (ms) for the notifications
TIMEOUT=5000
# Set at 0 to require a click to dismiss

# Choose the output mode for the monitoring script (bschk)
# Options:
#   DEFAULT - outputs text in the shell
#   NOTIFY  - displays system notifications
#   GENMON  - formats for use in the Xfce Generic Monitor
BSCHKMOD=GENMON

# Choose the text editor for the setup script (bsset)
EDITOR=nano
